{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env",
    {
      "targets": {
      "chrome": "80",
      "safari": "12",
      "firefox": "70"
      },
      "include": ["@babel/plugin-transform-spread"],
      "useBuiltIns": "entry",
      "corejs": 2,
      "modules": "umd"
    }]
  ],
}