#redriverdemo {
  height: 100vh;
  position: relative;
  min-height: 798px;

  .header {
    line-height: 30px;
    background-color: #333333;
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  .main {
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
    display: flex;

    .leftmenu {
      width: 220px;
      height: 100%;
      border-right: 1px solid #333;
      padding: 10px;
      display: flex;
      flex-direction: column;
 
      .results-box {
        width: 100%;

        .results {
          overflow-y: scroll;
          .bg-info {
            width: 100%;
          }

          .result-item {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .content {
      flex-grow: 1;
      height: 100%;
      margin: 30px;

      input {
        display: block;
        margin-bottom: 12px;
      }

      label {
        display: block;
        margin-bottom: 0px;
      }

      .bg-info {
        width: 250px;
      }
      
      .bg-success, .bg-warning, .bg-danger {
        width: 250px;
        color: #fff;
        text-align: center;
        margin-top: 10px;
        line-height: 18px;
      }
    }
  }
}